.containar
  .col-8.offset-2
    %h2.my-3.font-weight-bold.offset-2 山ごはんの投稿
    .col-8.offset-2
      .card
        %svg.bd-placeholder-img.card-img-top.p-1{"aria-label" => "Placeholder: Image cap", :focusable => "false", :height => "300", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
          %title Placeholder
          %rect{:fill => "#868e96", :height => "100%", :width => "100%"}
          %text{:dy => ".3em", :fill => "#dee2e6", :x => "50%", :y => "50%"} Image cap
        .card-body
          %h5.card-title 
          %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
          %a.btn.btn-primary{:href => "#"} Go somewhere